# Settings
APP_MODE="dev"
APP_URL="http://localhost"
APP_PORT="3000"

# Front-End
FRONTEND_URL="http://localhost:5173"

# Database Connection
DB_HOST="localhost"
DB_PORT="3306"
DB_USER="root"
DB_PASSWORD="***********"
DB_NAME="db_movies"